body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FAFAFA;
}

.container {
    background-color: #c0911a;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333333;
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
    color: #555555;
}

.total {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.btn-pay {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-pay:hover {
    background-color: #0056b3;
}