@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Jost:wght@600&family=Potta+One&family=Rum+Raisin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300=swap');



html, body{
    margin:0px !important;
    height:100% !important;
}

.inicial{
    overflow: hidden;
    background-color:white;
    padding-top: 25px;
    /*border-bottom: solid rgb(219, 219, 219) 1px;*/
}


a:link{
    display: inline;
    text-decoration: none;
    font-size: 16px;
    color: rgb(170, 169, 169) !important;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

a:visited{
    display: inline;
    text-decoration: none;
    font-size: 16px;
    color: rgb(170, 169, 169) !important;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

a:hover{
    display: inline;
    text-decoration: none;
    color: rgb(21, 148, 59) !important;
    background-color: transparent;
}

.paises{
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.paises1{
    text-align: center;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.paises2{
    text-align: center;
    margin-top: 15px;
    margin-inline: 10px;
    margin-bottom: 35px;
}

.Logo{
    font-size: 35px;
    font-family: 'Jost', sans-serif;
    color:  rgb(21, 148, 59);
    display: inline;
    margin-left: 35px;
    /*margin-right: 45%;*/
}

.btn_hotel{
    padding: 5px;
    font-size: 18px;
    border-radius: 16px;
    width: 120px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 255, 0);
    border: rgb(0, 255, 0) groove 1px;
    position: absolute;
    left: 1rem;

}

.btn_hotel:hover{
    background-color: rgb(0, 255, 0);
    border: none;
    color: white;
}


.nvbar_inicio{
    padding: 10px;
    display: inline;
    margin-right: 35px;
}

.card{
    width: 22rem;
    display: inline-block;
    height: 18rem;
    border-radius: 15px;
    box-shadow: 2px 2px rgb(214, 214, 213);
}

.card-img-top{
    height: 9rem;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
}

.txt_desc_pais{
    color: rgb(180, 178, 178);
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 14px;
}

.txt_home{
    margin-top: 35px;
    margin-left: 35px;
    margin-right: 35px;
}

.card-title{
    color: rgb(76, 138, 71);
}

.reviews-completo{
    background-color: rgb(26, 45, 75);
}

.reviews{
    display: block;
    height: 200px;
    align-items: center;
    margin-left: 180px;
    margin-right: 180px;
}

.reviews-contenedor{
}

.reviews-icono{
    float: left;
    width: 15%;
}

.reviews-icono img{
    height: 300px;
    width: 300px;
}

.reviews-contenido{
    padding-top: 30px;
    padding-left: 70px;
    width: 70%;
    float: right;
}

.reviews-contenido > h4{
    color: rgb(236, 236, 236);
}

.reviews-contenido > h4 + h6{
    color: rgb(194, 194, 194);
}

svg{
    fill: #ebd725;
}